body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color:  #ffffff;
  line-height: 1.8;
  background-color:  #9e9eff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
a {
    color: #ffffff;
  }

  #track{
    float:right;
    margin-right: 50em;
}